doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    script(src='javascripts/dropzone.js')
  body
    div(id="main")
      block content
    div(id="response")